.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(26, 71, 42, 0.85);
  border-color: rgb(26, 71, 42, 0.7);
}

/* .team-card:hover::before {
  transform: scaleX(1);
} */

.team-card:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(26, 71, 42, 0.2);
}

.team-logo-container {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.team-card:hover .team-logo-container {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.team-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}

.team-name {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
  color: #1a472a;
  transition: color 0.3s ease;
}

.team-card:hover .team-name {
  color: #0f2c1a;
}

.team-category {
  font-size: 14px;
  color: #666;
  text-align: center;
  background-color: #f5f5f5;
  padding: 4px 10px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.team-card:hover .team-category {
  background-color: #e8f0eb;
  color: #1a472a;
}

.team-card.dark-mode {
  background-color: #1e1e1e;
  border-color: #232323;
}

.team-card.dark-mode .team-logo-container {
  background-color: #232323; /* Un peu plus clair que le fond de la carte */
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Optionnel : contraste pour le nom et la catégorie */
.team-card.dark-mode .team-name {
  color: #fff;
}

.team-card.dark-mode .team-category {
  background-color: #232323;
  color: #e5e7eb;
}
